.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  background-color: rgb(255, 255, 255);
  color: black;

  align-items: center;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo h1 {
  font-size: large;
  font-weight: bolder;
}
.navbar .logo img {
  height: 3rem;
  width: auto;
  border: greenyellow solid 0px;
  border-radius: 12%;
  margin-left: 2%;
}
.nav-link {
  color: Black;
  font-size: large;
  width: 20em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* .nav-link ul {
  background-color: rgb(167, 191, 244);
  padding: 2px 8px;
  border: white solid 1px;
  border-radius: 12px;
} */
